#todo{
    background: url(https://pensive-hermann-420c88.netlify.com/back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    color:black;
    font-size: 20px;
    font-family: courier;
    text-align: center;
}

h2{
font-size: 36px;
font-family: courier;
text-align: center;

}
h3{
  background-color: #A8B4C3;
}

#rightarrow,#leftarrow{
 height: 500px;
 opacity:0.6;
}

#titulos{
  text-align: center;
   font-family: courier;
  font-size: 80px;
  color: black;

}

#subtitulos{
    color:black;
    font-size: 40px;
    font-family: courier;
    text-align: center;
    height: 40px;
    background-color: #A8B4C3;
}

p {
    font-family: georgia;
    font-size: 20px;
    font-style: oblique;
}

#color1{
  background-color: #5861DC;
  width: 200px;
}
#color2{
  background-color: #757EF3;
  width: 200px;
}
#color3{
  background-color: #92BCF3;
  width: 200px;
}

#encabezado {
  width: 1500px;
  height: 150px;
}

#im1,#im2,#im3{
    padding: 5px;
  display: block;
  border-radius: 2px;
  width: 500px;
  height: 500px;
}

#contenedor1{
  height: 125px;
  background-color: #A8B4C3;
}

#carrusel{
   background-color: #A8B4C3; 
}

#encabezado {
    background: url(https://pensive-hermann-420c88.netlify.com/Back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#navbarUX{
  background-color: #152143
}

#uno,#dos,#tres{
  font-size: 15px;
}
img{
  padding: 10px;
  display: block;
  height: 100px;
}

#cf img{
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left: 450px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
@media print{
    #encabezado{
        display: none;
    }
    #navbarUX{
        display: none;
    }
    #footeruX{
        display: none;
    }
}
