#todo{
    background: url(https://pensive-hermann-420c88.netlify.com/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    color:black;
    font-size: 20px;
    font-family: courier;
    text-align: center;
}

h2{
font-size: 36px;
font-family: courier;
text-align: center;

}
h3{
  background-color: #160B06;
}
#transparent{
 //background: rgba(168 ,180 ,195, 0.65);   
 background-color: #160B06;
}

#rightarrow,#leftarrow{
 height: 450px;
 opacity:0.6;
}

#titulos{
  text-align: center;
   font-family: courier;
  font-size: 80px;
  color: black;

}

#subtitulos{
    color:black;
    font-size: 40px;
    font-family: courier;
    text-align: center;
    height: 55px;
    background-color: #AA3905;
    border-radius: 20px;
}

#titulosUX{
  text-align: center;
   font-family: courier;
  font-size: 55px;
  color: black;

}

#subtitulosUX{
    color:black;
    font-size: 25px;
    font-family: courier;
    text-align: center;
    height: 55px;
    background-color: #A8B4C3;
    border-radius: 20px;
}

#contenedor{
    background: rgba(242 ,214 ,201, 0.65);
}

p {
    
    font-family: arial;
    font-size: 20px;
    font-style: oblique;
}

#color1{
  background-color: #AA3905;
  width: 200px;
}
#color2{
  background-color: #682201;
  width: 200px;
}
#color3{
  background-color: #311508;
  width: 200px;
}

#encabezado {
  width: 1500px;
  height: 150px;
}

#im1,#im2,#im3{
  padding:0px;
  border-radius: 10px;
  width: 550px;
  height: 450px;
}

#contenedor1{
  height: 200px;
  background: rgba(168 ,180 ,195, 0.7);
}

#encabezado {
    background: url(https://pensive-hermann-420c88.netlify.com/Back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#navbarUX{
  background-color: #152143
}

#uno,#dos,#tres{
  font-size: 15px;
}
img{
  padding: 10px;

  height: 100px;
}

#cf img{
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left: 450px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
@media print{
    #encabezado{
        display: none;
    }
    #navbarUX{
        display: none;
    }
    #footeruX{
        display: none;
    }
}
